@font-face {
  font-family: Paytoone;
  src: url('../../assets/fonts/PaytoneOne-Regular.ttf');
}
.homeContainer {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
}

.txtInside {
  position: absolute;
  top: 30vh;
  left: 100px;
  font-size: 5vw;
  max-width: 25vw;
  line-height: 6vw;
  text-align: left;
  text-shadow: 1px 2px 10px white;
  opacity: 0.4;
}

.section1Container {
  display: flex;
  flex-direction: row;
}

.section2Container {
  display: flex;
  flex-direction: row-reverse;
}

.section1Container img {
  border-radius: 25px;
  max-width: 66vw;
}

.placeholder {
  border-radius: 25px;
  background-color: lightgray 0.8;
  min-width: 66vw;
  min-height: 40vw;
}

.section2Container img {
  border-radius: 25px;
  max-width: 66vw;
}

.containerMessages {
  position: relative;
  top: 50px;
  text-align: left;
}

.msg1 {
  /* min-width: 35vw; */
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1em;
  font-size: 2.5rem;
  /* position: relative; */
  /* left: -100px; */
  /* text-shadow: 1px 0 10px white; */
  margin-left: 2rem;
}

.msg1_2 {
  /* min-width: 35vw; */
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1em;
  font-size: 2.5rem;
  /* position: relative;
  left: 100px;
  text-shadow: 1px 0 10px white; */
  margin-left: 2rem;
}

.msg2 {
  /* min-width: 35vw; */
  font-size: 1.5rem;
  color: var(--color-french-rose);
  /* position: relative;
  left: -100px;
  text-shadow: 1px 0 10px white; */
  margin-left: 2rem;
}
.msg2_2 {
  /* min-width: 35vw; */
  font-size: 1.5rem;
  color: var(--color-french-rose);
  /* position: relative;
  left: 100px;
  text-shadow: 1px 0 10px white; */
  margin-left: 2rem;
}

.description1 {
  max-width: 25vw;
  padding-left: 30px;
}

.starTeachingBtn {
  background-color: var(--color-mid-grey);
  border: solid 1px var(--color-mid-grey);
  color: white;
  border-radius: 50px;
  font-size: 1rem;
  margin: 30px;
  padding: 5px 15px 5px 15px;
  cursor: pointer;
}

.starTeachingBtn:hover {
  background-color: white;
  color: var(--color-mid-grey);
  border-radius: 50px;
  font-size: 1rem;
  margin: 30px;
  padding: 5px 15px 5px 15px;
  cursor: pointer;
}

.categoriesButtons {
  margin-right: 30px;
  margin-left: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  /* padding: 30px; */
}

.categoriesButtons a {
  color: white;
}

.categoriesButton {
  border: none;
  border-radius: 10px;
  padding: 15px;
  font-size: 1rem;
  font-weight: normal;
  width: 15vw;
  min-width: fit-content;
  background-color: #263238;
  color: var(--color-whisper);
  margin-bottom: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}

.interlineContainer {
  display: flex;
  flex-direction: row;
  margin-top: 3rem;
  margin-bottom: 1rem;
}

.interlineContainer2 {
  display: flex;
  flex-direction: row;
  margin-top: 0.8rem;
  margin-bottom: 3rem;
}

.interlineTitle {
  color: var(--color-mid-grey);
  margin-right: 2rem;
  margin-left: 2rem;
}

.interlineTitleLeft {
  font-family: Paytoone;
  position: relative;
  text-align: left;
  color: var(--color-french-rose);
  margin-right: 2rem;
}

.line {
  display: inline-block;
  width: 100%;
  height: 1px;
  /* border-radius: 2px; */
  position: relative;
  top: 1rem;
  background-color: var(--color-mid-grey);
}

.line2 {
  display: inline-block;
  width: 100%;
  height: 1px;
  /* border-radius: 2px; */
  position: relative;
  background-color: var(--color-mid-grey);
}

.line3 {
  display: inline-block;
  width: 100%;
  height: 1px;
  /* border-radius: 2px; */
  position: relative;
  top: 1rem;
  background-color: var(--color-french-rose);
}

@media (max-width: 880px) {
  .section1Container {
    flex-direction: column;
  }

  .section2Container {
    flex-direction: column;
  }

  .section1Container img {
    max-width: 90vw;
  }

  .section2Container img {
    max-width: 90vw;
  }

  .msg1 {
    left: 0px;
  }

  .msg1_2 {
    left: 0px;
  }

  .msg2 {
    left: 0px;
  }

  .msg2_2 {
    left: 0px;
  }

  .description1 {
    max-width: 90vw;
    padding-left: 30px;
  }

  .description2 {
    max-width: 90vw;
    padding-left: 30px;
  }

  .txtInside {
    top: 33vh;
    font-size: 6.5vw;
    line-height: 7vw;
  }
}

@media (max-width: 600px) {
  .categoriesButtons {
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
  }

  .categoriesButton {
    width: 40vw;
    margin-left: 0;
    margin-right: 0;
  }

  .section1Container img {
    max-width: 75vw;
  }

  .section2Container img {
    max-width: 75vw;
  }

  .txtInside {
    top: 30vh;
    left: 20vw;
    font-size: 5.8vw;
    line-height: 5.8vw;
  }
}
@media (width: 375px) {
  .txtInside {
    top: 21vh;
  }
}
@media (width: 768px) {
  .txtInside {
    top: 20vh;
  }
}

@media (width: 1024px) {
  .txtInside {
    top: 13vh;
  }
}
