.filtersWrapper {
  width: 100%;
  text-align: left;
}
.searchByTitle,
.searchByUser,
.searchByCategory,
.searchByPrice,
.searchByLevel {
  color: gray;
}
.searchTitleBarContainer,
.searchUserBarForm,
.searchCategoryBarContainer,
.searchLevelBarContainer {
  position: relative;
  height: 20px;
  width: 100%;
  margin-bottom: 10px;
}

.searchTitleBarForm,
.searchUserBarForm,
.searchCategoryBarForm,
.searchLevelBarForm {
  width: 100%;
  background-color: var(--color-whisper);
  border: none;
  font-size: 14px;
  border-radius: 50px;
  padding-left: 20px;
  color: black;
}

.searchTitleBarForm::placeholder,
.searchUserBarForm::placeholder {
  color: var(--color-french-rose);
  font-weight: initial;
}
.searchCategoryBarForm,
option {
  color: var(--color-french-rose);
}
.searchLevelBarForm,
option {
  color: var(--color-french-rose);
}
.buttonSecondary,
.searchPriceBarContainer {
  text-align: center;
}
.buttonSecondary {
  border: solid 1px var(--color-french-rose);
  border-radius: 10px;
  padding: 15px;
  width: 300px;
  font-size: 1rem;
  font-weight: normal;
  text-transform: uppercase;
  background-color: var(--color-whisper);
  color: var(--color-french-rose);
  margin-bottom: 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.buttonSecondary:hover {
  cursor: pointer;
  color: var(--color-french-rose);
  background-color: white;
  box-shadow: 1px 1px 5px black;
}
.buttonDeleteUser {
  background-color: white;
}
.buttonDeleteUser:hover {
  border: solid 2px var(--color-french-rose);
  box-shadow: none;
  padding: 14px
}
.resetFilter {
  width: 100%;
}
@media (max-width: 1250px) {
  .buttonFilterReste {
    width: 80%;
  }
}
