.filterContainer {
  position: sticky;
  top: 0px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 320px;
  margin-left: 10px;
}
@media (max-width: 880px) {
  .filterContainer {
    align-items: center;
  }
}
