.button {
  border: none;
  border-radius: 10px;
  padding: 15px;
  width: 300px;
  font-size: 1rem;
  font-weight: normal;
  text-transform: uppercase;
  background-color: var(--color-french-rose);
  color: var(--color-whisper);
  margin-bottom: 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.button:hover {
  cursor: pointer;
  color: white;
  background-color: #e43f7c;
  box-shadow: 1px 1px 5px black;
}

.button:disabled {
  background-color: var(--color-french-rose);
  color: var(--color-whisper);
  box-shadow: 0px 0px 0px black;
  cursor:not-allowed
}
