.button {
  border: none;
  border-radius: 10px;
  padding: 15px;
  width: 300px;
  font-size: 1rem;
  font-weight: normal;
  text-transform: uppercase;
  background-color: #f24b88;
  color: #e8e8e8;
  margin-bottom: 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.button:hover {
  cursor: pointer;
  color: white;
  background-color: #e43f7c;
  box-shadow: 1px 1px 5px black;
}
