.loginContainer {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}

.input {
  border: none;
  border-radius: 10px;
  padding: 15px 50px;
  width: 300px;
  font-family: inherit;
  font-size: 1rem;
  font-weight: normal;
  /* color: #f24b88; */
  background-color: #e8e8e8;
  margin-bottom: 30px;
  display: block;
}

input::placeholder {
  font-weight: lighter;
  color: #5f6b73;
}

i:hover {
  cursor: pointer;
  color: #f24b88;
}

.iconDiv {
  position: relative;
  margin: auto;
}

.iconSpan {
  width: 20px;
  position: absolute;
  left: 18px;
  top: 14px;
  fill: green;
}

/* .iconSpan img {
  background-color: yellow;
  fill: green;
} */

/* probando esto para colocar el ojo */
.passwordEye {
  position: absolute;
  right: 18px;
  top: 14px;
}
