.loginContainer {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}

.input {
  border: none;
  border-radius: 10px;
  padding: 15px 50px;
  width: 300px;
  font-family: inherit;
  font-size: 1rem;
  font-weight: normal;
  background-color: var(--color-whisper);
  margin-bottom: 30px;
  display: block;
}

input::placeholder {
  font-weight: lighter;
  color: var(--color-mid-grey);
}

i:hover {
  cursor: pointer;
  color: var(--color-french-rose);
}

.iconDiv {
  position: relative;
  margin: auto;
}

.iconSpan {
  width: 20px;
  position: absolute;
  left: 18px;
  top: 14px;
}

.passwordEye {
  position: absolute;
  right: 18px;
  top: 14px;
}

[type='checkbox'] {
  margin-right: 10px;
}
