h4 {
  text-align: left;
  margin: 1.2%;
}
.infoCourse {
  text-align: left;
}
.infoCourse h5 {
  color: var(--color-french-rose);
  display: inline-block;
  position: relative;
}
.infoCourse li {
  display: flex;
}
.lessonInfo {
  margin-left: 1rem;
}
.courseIstructorTitle {
  top: 1.25rem;
}
.priceDetail {
  display: flex;
  justify-content: center;
  font-size: 2rem;
}

h5::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: currentColor;
  top: 0.9em;
  right: 9rem;
}
.courseWhatTitle::after {
  right: -32.4rem;
  width: 29rem;
}
.courseContentTitle::after {
  right: -30.5rem;
  width: 26rem;
}
.courseRequerimientsTitle::after {
  right: -15rem;
  width: 13rem;
}
.courseIstructorTitle::after {
  right: -7.5rem;
  width: 5.6rem;
}

@media (max-width: 1150px) {
  .courseWhatTitle::after {
    right: -32rem;
    width: 28.25rem;
  }
  .courseContentTitle::after {
    right: -30.25rem;
    width: 26rem;
  }
}

@media (max-width: 1100px) {
  .courseWhatTitle::after,
  .courseContentTitle::after {
    right: -29rem;
    width: 26rem;
  }
}
@media (max-width: 1050px) {
  .courseWhatTitle::after {
    right: -27rem;
    width: 23.25rem;
  }
  .courseContentTitle::after {
    right: -25rem;
    width: 23rem;
  }
  .courseRequerimientsTitle::after {
    right: -10rem;
    width: 8rem;
  }
  .courseIstructorTitle::after {
    right: -5rem;
    width: 3rem;
  }
}
@media (max-width: 980px) {
  .courseWhatTitle::after {
    right: -24rem;
    width: 22.25rem;
  }
  .courseContentTitle::after {
    right: -25.7rem;
    width: 21.5rem;
  }
}
@media (max-width: 940px) {
  .courseWhatTitle::after {
    right: -23rem;
    width: 19rem;
  }
  .courseContentTitle::after {
    right: -21.7rem;
    width: 18rem;
  }
  .courseRequerimientsTitle::after {
    right: -9.5rem;
    width: 6.5rem;
  }
  .courseIstructorTitle::after {
    right: -4rem;
    width: 2.7rem;
  }
}
@media (max-width: 900px) {
  .courseWhatTitle::after {
    right: -21rem;
    width: 17rem;
  }
  .courseContentTitle::after {
    right: -20rem;
    width: 17rem;
  }
}
@media (max-width: 880px) {
  .courseWhatTitle::after {
    right: -19rem;
    width: 15rem;
  }
  .courseContentTitle::after {
    right: -18rem;
    width: 15rem;
  }
  .courseRequerimientsTitle::after {
    right: -9rem;
    width: 6.5rem;
  }
  .courseIstructorTitle::after {
    right: -4rem;
    width: 3rem;
  }
}
@media (max-width: 800px) {
  .courseWhatTitle::after {
    right: -15.5rem;
    width: 12rem;
  }
  .courseContentTitle::after {
    right: -15.5rem;
    width: 13rem;
  }
}
@media (max-width: 740px) {
  .courseWhatTitle::after {
    right: -14rem;
    width: 10rem;
  }
  .courseContentTitle::after {
    right: -13rem;
    width: 10rem;
  }
  .courseRequerimientsTitle::after {
    right: -8rem;
    width: 6rem;
  }
}
@media (max-width: 700px) {
  .courseWhatTitle::after {
    right: -13rem;
    width: 10rem;
  }
  .courseContentTitle::after {
    right: -12rem;
    width: 10rem;
  }
}
@media (max-width: 660px) {
  .courseWhatTitle::after {
    right: -12rem;
    width: 9rem;
  }
  .courseContentTitle::after {
    right: -11rem;
    width: 9rem;
  }
  .courseRequerimientsTitle::after {
    right: -7rem;
    width: 6rem;
  }
  .courseIstructorTitle::after {
    right: -3.5rem;
    width: 2.5rem;
  }
}
@media (max-width: 630px) {
  .courseWhatTitle::after {
    right: -10rem;
    width: 8rem;
  }
  .courseContentTitle::after {
    right: -9rem;
    width: 8rem;
  }
  .courseRequerimientsTitle::after {
    right: -6rem;
    width: 4.3rem;
  }
  .courseIstructorTitle::after {
    right: -2.7rem;
    width: 2rem;
  }
}
@media (max-width: 575px) {
  .courseWhatTitle::after {
    right: -19rem;
    width: 15rem;
  }
  .courseContentTitle::after {
    right: -18rem;
    width: 14rem;
  }
  .courseRequerimientsTitle::after {
    right: -23.5rem;
    width: 14rem;
  }
  .courseIstructorTitle::after {
    right: -13rem;
    width: 10rem;
  }
}
