:root {
  --bg-color: #fff;
  --text-color: #000;
}

[data-theme='dark'] {
  --bg-color: #3f3f3f;
  --text-color: #fff;
}

.App {
  text-align: center;
  background-color: var(--bg-color);
  color: var(--text-color);
}
