.filtersContainer {
  position: sticky;
  top: 7.8rem;
  height: 32rem;
  z-index: 0;
}
.showFilters {
  display: none;
}
@media (max-width: 767px) {
  .filtersContainer {
    position: relative;
    top: 0;
    z-index: 0;
  }
  .showFilters {
    display: block;
  }
}
