/* Quitar cuando se añadan filtros laterales */
/* .container-fluid {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
} */
a {
  color: var(--color-french-rose);
}
a:hover {
  color: var(--color-french-rose);
  text-decoration: none;
}
.card-title a {
  font-size: x-large;
  color: black;
}
.card {
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 20px;
  background-color: var(--color-whisper);
  justify-content: center;
  align-content: center;
}
.card p {
  text-align: left;
  margin-left: 1.5rem;
}
.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.card-horizontal {
  display: flex;
}
.price {
  font-size: 1.3rem;
}
.category-list,
.description-list {
  color: gray;
}
.card-responsive {
  display: flex;
  align-items: center;
}
.img-rounded-wrapper img {
  border-radius: 20px;
  object-fit: cover;
  max-height: 27rem;
  max-width: 27rem;
  min-height: 27rem;
  min-width: 27rem;
  background-size: cover;
}
.image-card {
  margin: 1rem;
}

.curseButton {
  border: none;
  border-radius: 10px;
  padding: 15px;
  width: 300px;
  font-size: 1rem;
  font-weight: normal;
  text-transform: uppercase;
  background-color: var(--color-french-rose);
  color: var(--color-whisper);
  margin-bottom: 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.curseButton:hover {
  cursor: pointer;
  color: white;
  background-color: #e43f7c;
  box-shadow: 1px 1px 5px black;
}

.shopping-course,
.purchased-course {
  border: none;
  border-radius: 10px;
  padding: 15px;
  width: 300px;
  font-size: 1rem;
  font-weight: normal;
  text-transform: uppercase;
  color: var(--color-whisper);
  margin-bottom: 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.level-list span {
  font-size: 1.5rem;
  color: #e43f7c;
}

.purchased-course {
  background-color: #5cb85c;
}
.shopping-course {
  background-color: #5bc0de;
}

.shopping-course:hover {
  cursor: pointer;
  color: white;
  background-color: #49b8da;
  box-shadow: 1px 1px 5px black;
}
@media (max-width: 1190px) {
  .img-rounded-wrapper img {
    max-height: 18rem;
    max-width: 18rem;
    min-height: 18rem;
    min-width: 18rem;
  }
}
@media (max-width: 1000px) {
  .img-rounded-wrapper img {
    max-height: 16rem;
    max-width: 16rem;
    min-height: 16rem;
    min-width: 16rem;
  }
}
@media (max-width: 800px) {
  .card-responsive {
    justify-content: center;
  }
  .img-rounded-wrapper img {
    max-height: 14rem;
    max-width: 14rem;
    min-height: 14rem;
    min-width: 14rem;
  }
}
