.shoppingCartContainer {
  --margin-bottom-course: 35px;
}

.shoppingCartContainer {
  margin: 0 auto;
  max-width: 500px;
  border: solid 3px yellow;
}

.courseCardContainer {
  display: flex;
  margin-bottom: var(--margin-bottom-course);
  /* temp */
  font-family: helvetica;
  font-size: 14px;
  border: solid 3px red;
}

.courseImage {
  /* width: 40%; */
  margin-right: 5px;
  /* border: solid 3px yellow; */
  /* background-color: black; */
}

.courseImage img {
  width: 120px;
  max-width: 190px;
  height: auto;
  border-radius: 8px;
}

.courseDetails {
  width: 100%;
}

.courseName {
  width: 100%;
  text-align: left;
  /* temp */
}

.courseDetailsBottom {
  display: flex;
  border: solid 3px red;

  /* justify-content: flex-end; */
  /* temp */
}

.deleteBtn {
}

.courseDetailsBottom img {
  width: 16px;
  margin-left: 12px;
}

.coursePrice {
  /* temp */
  /* width: 30px; */
  color: var(--color-french-rose);
  font-weight: bold;
}

.totalPrice {
  text-align: right;
}

.totalPrice {
  margin-bottom: var(--margin-bottom-course);
}

.checkOutBtnContainer {
}

.checkOutBtnContainer button {
  min-width: 300px;
}
