/* RESET STYLES */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

img,
video {
  max-width: 100%;
}
/* END RESET */

body {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
