.mobileMenu {
  width: 150px;
  margin: 0 auto;
  top: 0;
}

.link {
  display: block;
  line-height: 3rem;
  color: black;
  font-family: monospace;
  text-align: left;
}

.link:hover {
  cursor: pointer;
  color: var(--color-french-rose);
}
